html, body, div, header,footer,main,section, p,h1,h2,h3,h4,h5,h6, ul,ol,li,button,input{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#root{
  height: 100%;
}

body {
  min-height: 100vh;
}